/* celulares */
@media (max-width: 500px) {
    .mario {
      display: none;
    }
  
    .cabecalho {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    .container .imagem-titulo {
      max-width: 75%;
    }
  
    .modal .fechar-modal {
      width: 30px;
      line-height: 30px;
    }
  
    .modal #video {
      width: 300px;
      height: 169px;
    }
  }
  
  /* Mini celulares */
  @media (max-width: 400px) {
    .modal #video {
      width: 250px;
      height: 140px;
    }
     .container .imagem-titulo {
      max-width: 50%;
    }
  }
  
  @media (max-width: 1024px) {
    .mario {
      display: none;
    }
    .container {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      gap: 30px;
    }
  
    .container .mario {
      max-width: 50%;
    }
  
    .container .informacoes {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .container .descrincao {
      color: white;
      text-align: center;
    }
  
    .container .botao-trailer {
      background-color: gray;
    }
  }
  